<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Gerar venda</title>

</head>
<body>

    <div class="container">

        <h1>{{sucesso}} {{err}}</h1> <br><br>

        <form action="/gerar" method="POST" id="form">
            <label for="valor">Valor da venda:</label><br>
            <input type="number" id="valor" name="valor"><br><br>
            <label for="produto1">Produto 1:</label>
            <input type="text" id="produto1" name="produto1">
            <label for="qtd1"> Quantidade Produto 1:</label>
            <input type="number" id="qtd1" name="qtd1"><br>
            <label for="produto2">Produto 2:</label>
            <input type="text" id="produto2" name="produto2" placeholder="opcional">
            <label for="qtd2"> Quantidade Produto 2:</label>
            <input type="number" id="qtd2" name="qtd2"><br>
            <label for="produto3">Produto 3:</label>
            <input type="text" id="produto3" name="produto3" placeholder="opcional">
            <label for="qtd3"> Quantidade Produto 3:</label>
            <input type="number" id="qtd3" name="qtd3"><br>
            <label for="produto4">Produto 4:</label>
            <input type="text" id="produto4" name="produto4" placeholder="opcional">
            <label for="qtd4"> Quantidade Produto 4:</label>
            <input type="number" id="qtd4" name="qtd4" ><br>
            <label for="produto5">Produto 5:</label>
            <input type="text" id="produto5" name="produto5" placeholder="opcional">
            <label for="qtd5"> Quantidade Produto 5:</label>
            <input type="number" id="qtd5" name="qtd5"><br><br>

            <button type="submit">Enviar</button>
        </form><br><br><br>

        <a href="/">VOLTAR</a>
    </div>



    <!--Bootstrap-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>